<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul class = "horizontal">
            {% if current_user.is_authenticated %}
                <li>Jesteś zalogowany</li>
                <a href="{{ url_for('search') }}"><li class = linav>Wyszukaj oferty</li></a>
                <a href="{{ url_for('logout') }}"><li class = linav>Wyloguj się</li></a>
            {% else %}
                <a href="{{ url_for('login') }}"><li class = linav>Zaloguj się</li></a>
                <a href="{{ url_for('register') }}"><li class = linav>Zarejestruj s1ię</li></a>
            {% endif %}

            {% block body %}{% endblock %}
        </ul>
    </nav>
</body>

<script src = "{{ url_for('static', filename = 'js/main.js') }}"></script>
</html>